*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
}

a, button {
    font-family: inherit;
    display: inline-block;
}

h1, h2, h3, p {
    margin-top: 0;
}

